{% extends 'home_page.html' %}
{% block content %}

<div class="container w-50">
    <form method="POST" action="/changepassword">
{{form.hidden_tag()}}
<br>
<fieldset>
<legend class="border-botton mb-4">Change Password</legend>
<div class="form-group">
    {{form.current_password.label(class="form-control-label")}}
    {%if form.current_password.errors%}
    {{form.current_password(class="form-control is-invalid")}}
        {%for error in form.current_password.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        {{form.current_password(class="form-control")}}
    {%endif%}
</div>
<div class="form-group">
    {{form.password.label(class="form-control-label")}}
    {%if form.password.errors%}
    {{form.password(class="form-control is-invalid")}}
        {%for error in form.password.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        {{form.password(class="form-control")}}
    {%endif%}
</div>
<div class="form-group">
    {{form.confirm_password.label(class="form-control-label")}}
    {%if form.confirm_password.errors%}
    {{form.confirm_password(class="form-control is-invalid")}}
        {%for error in form.confirm_password.errors%}
            <span>{{error}}</span>
        {%endfor%}
        {%else%}
        {{form.confirm_password(class="form-control")}}
    {%endif%}
</div>
    
</fieldset>
<div class="form-group mt-4">
    {{form.submit(class="btn btn-primary")}}
</div>

<div class="msg" style="color: red;" >{{ msg }}</div>
    </form>


</div>

{% endblock content%}