{% extends 'home_page.html' %}

{% block title %}Manager Home{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Manager Dashboard -->
        <div class="row">
            <div class="col-12 text-center">
                <br><br>
                <p style="font-size: 2rem; font-weight: bold;">Welcome! {{ userfullname }} 😊</p>
                <br><br>
            </div>
            
            {% if image is not none %}
            <div class="col-12  text-center">
                <img src="{{ url_for('static', filename='images/' + image) }}" alt="User Image" style="width: 100px; height: 100px;">
            <br><br><br>
            </div>
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card shadow mb-4">                       
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #FFC0CB;">
                            <h6 class="m-0 font-weight-bold">Manage My Account </h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                    <a href="{{ url_for('manager_profile') }}" class="nav-link">
                                        <i class="fas fa-user nav-icon  mr-2"></i>
                                        Change My Information 
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a href="{{url_for('returnchangepassword')}}" class="nav-link">
                                        <i class="fas fa-lock nav-icon  mr-2"></i>
                                        Change My Password 
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"  style="background-color: #FFC0CB;">
                            <h6 class="m-0 font-weight-bold">View Reports</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                    <a href="{{ url_for('workshop_report') }}" class="nav-link">
                                        <i class="fas fa-chart-bar nav-icon mr-2"></i>
                                        Workshop Report
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a href="{{ url_for('subscription_report') }}" class="nav-link">
                                        <i class="fas fa-file-alt nav-icon mr-2"></i>
                                        Subscription Report
                                    </a>
                                    </li>                                
                                    <li class="nav-item">
                                    <a href="{{url_for('trackpayment')}}" class="nav-link">
                                        <i class="fas fa-money-check nav-icon mr-2"></i>
                                        Payment Report 
                                    </a>
                                    </li>                                 
                                    <li class="nav-item">
                                    <a href="{{url_for('revenue')}}" class="nav-link">
                                        <i class="fas fa-chart-line nav-icon mr-2"></i>
                                        Revenue Report 
                                    </a>
                                    </li>                                 
                                    <li class="nav-item">
                                    <a href="{{ url_for('patterns_report') }}" class="nav-link">
                                        <i class="fas fa-user-check nav-icon mr-2"></i>
                                        Attendance Report 
                                    </a>
                                    </li>                                 
                                </ul>                             
                            </div>
                        </div>
                    </div>
                </div>
                
                
            
            <!-- Chart Area -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"  style="background-color: #FFC0CB;">
                        <h6 class="m-0 font-weight-bold"> Tools </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <ul  class="nav flex-column">
                                
                                        <li class="nav-item">
                                            <div class="d-inline-flex ml-auto">
                                                <div class="nav-link">
                                                    <i class="fas fa-calendar-alt nav-icon mr-2"></i>
                                                    Manage Schedules
                                                </div>
                                                <a href="{{url_for('alltutorlessons')}}" class="nav-link btn btn-warning mr-3">
                                                    <i class="fas fa-book nav-icon mr-2"></i>
                                                    Lessons
                                                </a>
                                                <a href="{{url_for('manage_workshop_list')}}" class="nav-link btn btn-success">
                                                    <i class="fas fa-tools nav-icon mr-2"></i>
                                                    Workshops
                                                </a>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="nav-item">
                                            <div class="d-inline-flex ml-auto">
                                                <div class="nav-link">
                                                    <i class="fas fa-tags nav-icon mr-2"></i>
                                                    Manage Event Types
                                                </div>
                                                <a href="{{url_for('viewlessontypelist')}}" class="nav-link btn btn-warning mr-3">
                                                    <i class="fas fa-book nav-icon mr-2"></i>
                                                    Lessons
                                                </a>
                                                <a href="{{url_for('viewworkshoptypelist')}}" class="nav-link btn btn-success">
                                                    <i class="fas fa-tools nav-icon mr-2"></i>
                                                    Workshops
                                                </a>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="nav-item">
                                            <div class="d-inline-flex ml-auto">
                                                <div class="nav-link">
                                                    <i class="fas fa-dollar-sign nav-icon mr-2"></i>
                                                    Manage Prices
                                                </div>
                                                <a href="{{url_for('manage_prices')}}" class="nav-link btn btn-warning mr-3">
                                                    <i class="fas fa-book nav-icon mr-2"></i>
                                                    Subscription & Lessons
                                                </a>
                                                <a href="{{url_for('manage_workshop_prices')}}" class="nav-link btn btn-success">
                                                    <i class="fas fa-tools nav-icon mr-2"></i>
                                                    Workshops
                                                </a>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="nav-item">
                                            <div class="d-inline-flex ml-auto">
                                                <div class="nav-link">
                                                    <i class="fas fa-users nav-icon mr-2"></i>
                                                    Manage Profiles
                                                </div>
                                                <a href="{{url_for('viewmemberlist')}}" class="nav-link btn btn-warning mr-3">
                                                    <i class="fas fa-user-friends nav-icon mr-2"></i>
                                                    Members
                                                </a>
                                                <a href="{{url_for('viewtutorlist')}}" class="nav-link btn btn-success">
                                                    <i class="fas fa-chalkboard-teacher nav-icon mr-2"></i>
                                                    Tutors
                                                </a>
                                            </div>
                                        </li>
                                        <hr>
                                        <li class="nav-item">
                                            <div class="d-inline-flex ml-auto">
                                                <div class="nav-link">
                                                    <i class="fas fa-wrench nav-icon mr-2"></i>
                                                    Other Tools
                                                </div>
                                                <a href="{{url_for('trackattendance')}}" class="nav-link btn btn-secondary mr-3">
                                                    <i class="fas fa-calendar-check nav-icon mr-2"></i>
                                                    Manage Attendance 
                                                </a>
                                                <a href="{{url_for('viewlocationlist')}}" class="nav-link btn btn-info mr-3">
                                                    <i class="fas fa-map-marker-alt nav-icon mr-2"></i>
                                                    Manage Location
                                                </a>
                                                <a href="{{url_for('newslist')}}" class="nav-link btn btn-dark ">
                                                    <i class="fas fa-newspaper nav-icon mr-2"></i>
                                                    Manage News
                                                </a>
                                            </div>
                                        </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    {% endblock %}