{% extends 'home_page.html' %}

{% block title %}Edit Lesson{% endblock %}

{% block content %}
<style>
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    </style>
<div class="container w-50">
    <form method="POST" action="/updatealesson">
{{form.hidden_tag()}}
<br>
<fieldset>
<legend class="border-botton mb-4"> Edit A Lesson</legend>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
   $(document).ready(function() {
       

        var titles = [
           {% for title in titles_data %}
           {id: {{ title['id'] }}, type: "{{ title['type'] }}", desc: "{{ title['desc'] }}"}
           {% if not loop.last %},{% endif %}
           {% endfor %}
       ];
   
       // Function to populate textarea based on dropdown selection
       $('#title').change(function() {
           var selectedId = $(this).val();
           for (var i = 0; i < titles.length; i++) {
               if (selectedId == titles[i].id) {
                   $('#lessondesc').val(titles[i].desc);
                   break;  // Once found, exit the loop
               }
           }
       });
       
        // Trigger change event on page load to populate textarea initially
        $('#title').change();
   });
   </script>

   <div class="container">
    <br>
    <div class="col-md-12 d-flex justify-content-end"></div>
    <div>
            <h5 class="text-success">Lesson Information</h5>
            <!-- title -->
            <div class="form-group row">
                <b>{{form.title.label(class="form-control-label")}}</b>
                <br>
                <select name="title" id="title" class="form-control">
                    {% for id, title in form.title.choices %}
                        <option value="{{ id }}" {% if id == form.title.data %} selected {% endif %}>{{ title }}</option>
                    {% endfor %}
                </select>
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% endif %}               
            </div>
            
            <!-- desc -->
            <div class="form-group row">
                <b>{{form.lessondesc.label(class="form-control-label")}}</b>
                {%if form.lessondesc.errors%}
                {{form.lessondesc(class="form-control is-invalid")}}
                    {%for error in form.lessondesc.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                    {%else%}
                    {{form.lessondesc(class="form-control")}}
                {%endif%}
            </div>
            <!-- location -->
            <div class="form-group row">
                <b>{{form.location.label(class="form-control-label")}}</b>                
                    <select name="location" id="location" class="form-control">
                        {% for id, location in form.location.choices %}
                            <option value="{{ id }}" {% if id == form.location.data %} selected {% endif %}>{{ location }}</option>
                        {% endfor %}
                    </select>
                    {% if form.location.errors %}
                        {% for error in form.location.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% endif %}                
            </div>
            <!-- tutor -->
            <div class="form-group row">
                <b>{{form.tutor.label(class="form-control-label")}}</b>
                
                    <select name="tutor" id="tutor" class="form-control">
                        {% for id, tutor in form.tutor.choices %}
                            <option value="{{ id }}" {% if id == form.tutor.data %} selected {% endif %}>{{ tutor }}</option>
                        {% endfor %}
                    </select>
                    {% if form.tutor.errors %}
                        {% for error in form.tutor.errors %}
                            <span class="invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    {% endif %}                
            </div>
            
            <!-- date -->
            <div class="form-group row">
                <b>{{form.lessondate.label(class="form-control-label")}}</b>
                {%if form.lessondate.errors%}
                    {{form.lessondate(class="form-control is-invalid")}}
                    {%for error in form.lessondate.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.lessondate(class="form-control", id="lesson_date")}}
                {%endif%}
            </div>
            <div id="dateErrorMessage" style="display: none; color: red;">Please select a date in the future. <br><br></div>

            <!-- time -->
            <div class="form-group row">
                <b>{{form.lessonstarttime.label(class="form-control-label")}}</b>
                {%if form.lessonstarttime.errors%}
                    {{form.lessonstarttime(class="form-control is-invalid")}}
                    {%for error in form.lessonstarttime.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.lessonstarttime(class="form-control", id="lesson_start_time")}}
                {%endif%}
            </div>
            <div id="timeErrorMessage" style="display: none; color: red;">Please select a time between 8am and 5pm.<br><br></div>
            <button id="openModal">Check for Available Tutor</button>
</fieldset>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Edit Lesson</button>
                    <a href="{{ url_for('alltutorlessons') }}" class="btn btn-primary">Cancel</a>
                </div>
                <div class="msg" style="color: red;">{{ msg }}</div>
            </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Available Tutor</h3>
        <div class="container">
            <br>
            <div class="row">
              <div class="col-12">
                <table id="availabilityTable">
                    <thead>
                        <tr>
                            <th>Tutor Name</th>
                        </tr>
                    </thead>
                    <tbody id="availabilityBody">
                        <!-- Table body will be populated dynamically -->
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="action" id="action">
<input type="hidden" value="{{lesson_id}}" name="lesson_id"/>
    </form>
<br><br>

</div>

<script>

    // Function to validate lesson date
    document.getElementById("lesson_date").addEventListener("change", function() {
        var selectedDate = new Date(this.value);
        var currentDate = new Date();
        if (selectedDate < currentDate) {
            document.getElementById("dateErrorMessage").style.display = "block";
            this.value = ""; // Clear the input field
        } else {
            document.getElementById("dateErrorMessage").style.display = "none";
        }
    });
    
    // Function to validate lesson start time
    document.getElementById("lesson_start_time").addEventListener("change", function() {
        var selectedTime = this.value;
        var startTime = new Date();
        startTime.setUTCHours(8, 0, 0); // Set start time to 8am UTC
        var endTime = new Date();
        endTime.setUTCHours(17, 0, 0); // Set end time to 5pm UTC
    
        var selectedDateTime = new Date();
        var timeParts = selectedTime.split(":");
        selectedDateTime.setUTCHours(parseInt(timeParts[0]), parseInt(timeParts[1]), 0);
    
        if (selectedDateTime < startTime || selectedDateTime > endTime) {
            document.getElementById("timeErrorMessage").style.display = "block";
            this.value = ""; // Clear the input field
        } else {
            document.getElementById("timeErrorMessage").style.display = "none";
        }
    });
    const modal = document.getElementById('myModal');
    const btn = document.getElementById("openModal");
    const span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        event.preventDefault();
        modal.style.display = "block";
        loadTableData();
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    function loadTableData() {

        const workshopDate = document.getElementById("lesson_date").value;
        const startTime = document.getElementById("lesson_start_time").value;

        fetch('/check_availability', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                workshopDate: workshopDate,
                startTime: startTime
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Populate the table with the fetched data
            const tableBody = document.getElementById("availabilityBody");
            tableBody.innerHTML = "";
            if (data.length > 0) {
                data.forEach(tutor => {
                    const tutorName = tutor[0]; // Access the string within the tuple
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${tutorName}</td>
                    `;
                    tableBody.appendChild(row);
                });
            } else {
                const row = document.createElement("tr");
                row.innerHTML = "<td>No available tutors</td>";
                tableBody.appendChild(row);
            }
        })
    }
</script>

{% endblock %}
