{% extends 'home_page.html' %}

{% block title %}Cancellation Successful{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 50vh;">
        <section class="tm-section-intro">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="tm-wrapper-center text-center">
                    <h1 class="tm-section-intro-title">Your cancellation has been processed successfully</h1>
                    <br>
                    <h4> Your payment of <span style="color: red;">${{ payment_amount }}</span> will be refunded into your account
                            within the next 1-2 business days</h4>
                    <hr>
                    <p class="tm-section-intro-text">You will be re-directed to the booking page...</p>
                    <p class="tm-section-intro-text">In 10 seconds...</p>
                </div>
            </div>
        </section>
    </div>
</div>

{% if view == "lesson" %}
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('show_booked_lesson') }}";
        }, 10000);  // 10 seconds
    </script>
{% elif view == "workshop" %}
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('show_booked_workshop') }}";
        }, 10000);  // 10 seconds
    </script>
{% endif %}

{% endblock content%}