{% extends 'home_page.html' %}

{% block title %}Booked Lessons{% endblock %}

{% block content %}

<script>
    function cancelLesson(bookingID) {
        var confirmation = confirm("Are you sure you want to cancel your booking for this lesson?");
        if (confirmation) {
            // Set the value of hidden input field
            document.getElementById('bookingID').value = bookingID;
            // Submit the form
            document.getElementById('cancelForm').submit();
        }
    }
</script>

<section class="text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Lesson Management</h1>
        </div>
    </div>
</section>

<div class="container">
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-hover">
            <tr class="table-primary">
                <th>Date</th>
                <th>Time</th>
                <th>Lesson Type</th>
                <th>Lesson Detail</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        <tbody>
            {% for lesson in booked_lessons %}
            <tr>
                <td style="width: 120px;">{{ lesson[4].strftime('%d-%m-%Y') }}</td>
                <td style="width: 100px;">{{ lesson[5] }}</td>
                <td>{{ lesson[2] }}</td>
                <td>{{ lesson[3] }}</td>
                <td>{{ lesson[6] }}</td>
                <td>
                    <form id="cancelForm" action="{{ url_for('cancel_lesson_booking') }}" method="post">
                        <input type="hidden" name="booking_id" id="bookingID" value="{{ lesson[9] }}">
                        <button type="button" class="btn btn-danger" onclick="cancelLesson('{{ lesson[9] }}')">Cancel</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}