{% extends 'home_page.html' %}

{% block title %}Tutor Workshop Attendance Check{% endblock %}

{% block content %}

<section class="text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Tutor Workshop Attendance Check</h1>
      </div>
    </div>
  </section>

<div class="container">
<br>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-hover">
            <tr class="table-primary">
                <th>Workshop Date</th>
                <th>Workshop Time</th>
                <th>Workshop Title</th>
                <th>Workshop Detail</th>
                <th>Workshop Location</th>
                <th>Member Booked</th>
                <th>Member Attended</th>
                <th>Attendance Check</th>
            </tr>
            {% for tutorworkshopbooking in tutorworkshopbookinglist %}
                <tr>
                    <td style="width: 120px;">{{ tutorworkshopbooking[0].strftime('%d-%m-%Y')  if tutorworkshopbooking[0] is not none }}</td>
                    <td style="width: 100px;">{{ tutorworkshopbooking[1] if tutorworkshopbooking[1] is not none }}</td>
                    <td>{{ tutorworkshopbooking[4] if tutorworkshopbooking[4] is not none }} </td>
                    <td>{{ tutorworkshopbooking[5] if tutorworkshopbooking[5] is not none }} </td>
                    <td>{{ tutorworkshopbooking[2]}} {{ tutorworkshopbooking[3] if tutorworkshopbooking[3] is not none }}</td>
                    <td>{{ tutorworkshopbooking[7] if tutorworkshopbooking[7] is not none }} </td>
                    <td>{{ tutorworkshopbooking[8] if tutorworkshopbooking[8] is not none }} </td>
                    <td>
                        <a href="{{ url_for('viewmemberworkshop', workshop_id=tutorworkshopbooking[6]) }}" class="btn btn-primary">Mark</a>
                </tr>
            {% endfor %}
        </table>
      </div>
    </div>
</div>


{% endblock content%}