{% extends 'home_page.html' %}

{% block title %}Tutor Lesson Bookings List{% endblock %}

{% block content %}


<section class="text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Tutor Lesson Bookings</h1>
      </div>
    </div>
  </section>



<div class="container">
<br>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-hover">
            <tr class="table-primary">
                <th>Lesson Date</th>
                <th>Start Time</th>
                <th>Member Name</th>
                <th>Location</th>
                <th>Lesson Type</th>
                <th>Lesson Description</th>
                <th>View</th>
            </tr>
            {% for tutorlessonbooking in tutorlessonbookinglist %}
                <tr>
                    <td style="width: 120px;">{{ tutorlessonbooking[1].strftime('%d-%m-%Y')  if tutorlessonbooking[1] is not none }}</td>
                    <td style="width: 100px;">{{ tutorlessonbooking[2] if tutorlessonbooking[2] is not none }}</td>
                    <td>{{ tutorlessonbooking[3]}} {{tutorlessonbooking[4]}}  {{tutorlessonbooking[5] }}</td>
                    <td>{{ tutorlessonbooking[6] if tutorlessonbooking[6] is not none }} </td>
                    <td>{{ tutorlessonbooking[7] if tutorlessonbooking[7] is not none }} </td>
                    <td>{{ tutorlessonbooking[8] if tutorlessonbooking[8] is not none }} </td>
                    <td><a href="/viewtutormemberprofile/{{tutorlessonbooking[0]}}">View Member Profile</a></td>
                </tr>
            {% endfor %}
        </table>
      </div>
    </div>
</div>

</form>


{% endblock content%}